* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: cursive;
}

body {
	background: #f2f2f2;
	overflow: auto;
}

h1{
	text-align: center;
	margin: 5%;
	font-size: 3rem;
	text-decoration: underline;
}

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	padding-left: 10%;
	padding: 7%;
	font-size: 2rem;
	list-style: circle;
}

li:hover{
	cursor: pointer;
}


.deleted {
	text-decoration-line: line-through;   
}

li {
	padding: 10px;
	width: 50%;
	background-color: gainsboro;
    display: flex;
    justify-content: space-between;
	margin-bottom: 5px;
	border-radius: 10px;
	align-items: center;
}

button {
	padding: 5px;
	background-color: gainsboro;
	border: none;
}

